@font-face {
    font-family: JetBrainsMono; /* Гарнитура шрифта */
    src: url('../fonts/JetBrains/ttf/JetBrainsMono-Medium.ttf'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: JetBrainsMono-Bold;
    src: url("../fonts/JetBrains/ttf/JetBrainsMono-Bold.ttf");
}

.f {
    font-family: JetBrainsMono;
}

.myheader {
    background-color: #fffdf6;
    height: 30px;
}

.myheader .row {
    display: flex;
    justify-content: space-evenly;
}

.myheader .row > div > span {
    cursor: pointer;
}

.myheaderfix {
    position: fixed;
    height: 56px;
    background-color: #494949;
    width: 100%;
    z-index: 2;
    top: 0;
}

.allmainbody {
    margin-top: 56px;
}

header {
    margin-bottom: 56px;
    z-index: 2;
}

.dishtypes {
    display: inline-block;
    height: 450px;
}

body {
    background-color: #fdfcf7;
    font-family: JetBrainsMono, 'Comic Sans MS', cursive !important;
    /*padding-right: 0 !important*/
}

.grids .dishtypes img {
    transition: 0.2s ease-out 0.1s; /* Время эффекта */
    z-index: 1;
}

.grids .dishtypes img:hover {
    transform: scale(1.1);
    z-index: 1;
}

.dishtypes img {
    z-index: 0;
}

.dishtypes_block {
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.dishtypes a img {
    width: 100%; /* Ширина изображений */
    height: 100%; /* Высота изображении */
    object-fit: cover; /* Вписываем фотографию в область */
}

.dishtypes_name {
    z-index: 1;
    width: 100%;
    text-align: center;
    background-color: rgba(236, 233, 218, 0.7);
    box-shadow: -1px -7px 10px 3px rgba(236, 233, 218, 0.7);
    position: absolute;
    top: 80%;
    left: 0;
    align-items: center;
    justify-content: center;
    height: 20%;
    opacity: 0;
    transition: 0.2s ease-out;
    user-select: none;
}

.dishtypes:hover .dishtypes_name {
    opacity: 1;
    transition-delay: 0.5s;
    transition: 0.2s;
}

.grids {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: stretch;
    height: auto;
}

.dishtypes {
    width: 33.333%;
    flex-basis: 33.333%;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    position: relative;
    transition: background-size 0.3s ease;
    overflow: hidden;
    z-index: 1;
    height: 100%;
}

.dishtypes_name span {
    font-family: JetBrainsMono-Bold;
    font-size: 26px;
    color: #494949;
}


/* СЛАЙДЕР */
.slider {
    position: relative;
    overflow: hidden;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider__item {
    flex: 0 0 50%;
    max-width: 50%;
}

.slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item > div {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
}

/*КОНЕЦ СЛАЙДЕРА*/

.grids_dishs {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}


.dishs {
    /*display: flex;*/
    /*box-shadow: 0px 0px 11px -1px #00000050;*/
    /*margin-top: 10px;*/
    /*-webkit-border-radius: 25px;*/
    /*-moz-border-radius: 25px;*/
    /*border-radius: 25px;*/
    /*margin-bottom: 25px;*/
    /*margin-right: 25px;*/
    position: relative;
    width: calc(96% / 3);
}

@media screen and (max-width: 540px) {
    /*.dishs {*/
    /*margin-right: 0;*/
    /*}*/
    .dishtypes {
        width: unset;
        flex-basis: unset;
    }

    .dishtypes_name {
        opacity: 1;
    }
}

.dishs_block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dishs_name {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

/*.dishs_block img {*/
/*width: 90%;*/
/*height: 90%;*/
/*}*/

.dishs_price {
    display: flex;
    padding: 10px;
    margin-left: auto;
}

.dishs_name a {
    color: #212529;
}

.dishes_img {
    align-items: center;
    display: flex;
    justify-content: center;
}

.dishs a {
    background-color: #ffffff70;
    border-radius: 25px;
}

.dishs_action {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ece9dabd;
    border-radius: 20px;
    text-indent: 20px;
    display: none;
    flex-direction: column;
    z-index: 1;
    height: 300px;
}

.dish_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.dishs_manipulate {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    /*margin-bottom: 50px;*/
}

.dishs_manipulate span {
    cursor: pointer;
    user-select: none;
    font-size: 36px;
}

.dishs_manipulate .count_of_dish {
    cursor: default;
}

.close_dishs_action {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
}

/*.dishs_manipulate input {*/
/*width: 30%;*/
/*border-radius: 20px;*/
/*text-align: center;*/
/*border: 1px solid;*/
/*overflow: hidden;*/
/*margin: 0;*/
/*}*/

/*input::-webkit-outer-spin-button,*/
/*input::-webkit-inner-spin-button {*/
/*-webkit-appearance: none;*/
/*margin: 0;*/
/*}*/

.items {
    width: 33%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.smtt {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.smtt .sss span {
    text-align: center;
}

.sss {
    margin-top: auto;
}

.plate {
    margin-top: auto;
}

.basket-main {
    position: fixed;
    bottom: 15%;
    right: 0;
    z-index: 3000;
    background-color: #494949;
    padding: 10px;
    cursor: pointer;
    color: #fffdf6;
    border-radius: 10px 0 0 10px;
}

#basketmodal {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

#basketmodal form {
    width: 80%;
}

.basket_modal {
    /*width: 80%;*/
}

.allinfo {
}

.allinfo .tab {
    width: 100%;
    display: flex;
    box-shadow: 0px 0px 23px -16px #000000;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    justify-content: space-between;
}

.close_button {
    position: absolute;
    right: 0;
    top: 0;
}

.send_to_payment {
    display: flex;
    margin-left: auto;
}

.allinfo .tab .dish_img {
    width: 25%;
}

.basket_modal .modal-content {
    background-color: #fffdf6 !important;
    padding: 20px;
}

.count_dish {
    font-size: small;
    color: #2125299c;
}

.total_cost {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.send_to_payment {
    margin-top: 15px;
}

.payment_button {
    background-color: #494949 !important;
    color: #fffdf6 !important;
}

.hider {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
}

#tot_cost {
    background-color: transparent;
    border: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    text-align: end;
    width: 100%;
}

#tot_cost:focus {
    border: 0;
    outline: 0;
}

.client_orders {
    color: #fffdf6;
}

.all_orders {
    width: 100%;
    margin: auto;
    padding: 3%;
    flex-wrap: wrap;
    display: flex;
}

.tab_order {
    display: flex;
    width: 100%;
}

/*!*.tab_order_main {*!*/
/*!*margin-bottom: 15px;*!*/
/*!*background-color: white;*!*/
/*!*border-radius: 15px;*!*/
/*!*box-shadow: 0px 0px 35px -20px #000000;*!*/
/*!*padding: 10px;*!*/
/*!*width: 75%;*!*/
/*!*}*!*/

/*.tab_order_main {*/
/*margin-bottom: 15px;*/
/*background-color: white;*/
/*padding: 10px;*/
/*}*/

/*!*.tab_order_info {*!*/
/*!*margin-bottom: 15px;*!*/
/*!*background-color: white;*!*/
/*!*border-radius: 15px;*!*/
/*!*box-shadow: 0px 0px 35px -20px #000000;*!*/
/*!*padding: 10px;*!*/
/*!*width: 20%;*!*/
/*!*margin-left: auto;*!*/
/*!*align-items: center;*!*/
/*!*justify-content: space-between;*!*/
/*!*display: flex;*!*/
/*!*}*!*/

/*.tab_order_info {*/
/*margin-bottom: 15px;*/
/*background-color: white;*/
/*border-radius: 15px;*/
/*padding: 10px;*/
/*align-items: center;*/
/*justify-content: space-between;*/
/*display: flex;*/
/*}*/

/*.tab_orders {*/
/*box-shadow: 0px 0px 35px -20px #000000;*/
/*border-radius: 15px;*/
/*}*/

.order_bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.order_top {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.order_top_left {
    display: flex;
    flex-direction: column;
}

.tab_order {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 35px -20px #000000;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.back_to_order {
    align-items: center;
    text-align: center;
}

.back_to_orders {
    color: #fffdf6;
    background-color: #494949;
    border-radius: 10px;
    padding: 10px;
}

.back_to_order a:hover {
    color: #fffdf6 !important;
    text-decoration: none;
}

/*.tab_order_info .closed {*/
/*margin-right: 15px;*/
/*}*/

/*.tab_order_info .done {*/
/*margin-left: 15px;*/
/*}*/

.tab_order_info a {
    color: #25292d;
    transform: rotate(180deg);
}

.tab_orders {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    flex-direction: row;
    box-shadow: 0px 0px 35px -20px #000000;
    width: 45%;
    max-width: 50%;
    margin: auto;
    margin-bottom: 25px;
}


.tab_order_info {
    display: flex;
    margin-left: auto;
}

.tab_order_func {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.tab_order_func .closed {
    background-color: var(--danger);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px;

}

.tab_order_func .done {
    background-color: var(--success);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px;

}

.tab_order_func .info {
    background-color: var(--info);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px;
}


.tab_order_main div {
    margin-bottom: 5px;
    flex-direction: column;
}

.order_top {
    margin-bottom: unset !important;
}

@media screen and (max-width: 540px) {
    /*.tab_order_info .closed {*/
    /*margin-right: 0;*/
    /*}*/
    /*.tab_order_info .done {*/
    /*margin-left: 0;*/
    /*}*/
    /*.tab_order_info {*/
    /*flex-direction: column;*/
    /*}*/
    /*.tab_order_info a {*/
    /*font-size: small;*/
    /*}*/
    /*.tab_order_main div {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*margin-bottom: 15px;*/
    /*}*/
    /*.tab_order_main div:last-child {*/
    /*margin-bottom: 0;*/
    /*}*/
    .tab_orders {
        width: 100%;
        max-width: unset;
        margin: 0;
        margin-bottom: 25px;
    }

    .all_orders {
        flex-wrap: unset;
        display: block;
    }
}

.user_profile_info > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.user_profile_info div input {
    border: 0;
    border-bottom: 1px solid #252525;
}

.modal-dialog {
    /*margin-top: 35% !important;*/
}

#authmodal .modal-content, #regmodal .modal-content {
    padding: 25px;
}

.p-rel {
    position: relative;
    display: flex;
    flex-direction: column;
}

.p-rel input:focus {
    outline: 0;
}

span.clean {
    position: absolute;
    right: 0;
}

.headf {
    height: 100%;
    display: flex;
}

.headf > div {
    margin: auto;
}

.headf a {
    color: #fffdf6;
}

.headf a:hover {
    color: #fffdf6;
}

.all_types {
    flex-wrap: wrap;
    align-content: start;
    flex-direction: row;
    display: flex;
    padding: 10px;
}

.type_block {
    height: 300px;
    position: relative;
}

.type_img {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}

.type_desc {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    height: 25%;
    background-color: rgba(248, 247, 242, 0.5);
    border-radius: 20px;
    align-items: center;
}

.type_img img {
    max-width: 100%;
    max-height: 100%;
}

.outer_type_block {
    width: calc(96% / 3);
    margin: auto;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.outer_type_block a {
    color: #212529;
}

.outer_type_block a:hover {
    color: #212529;
}

@media screen and (max-width: 540px) {
    .outer_type_block {
        width: 100%;
    }
}

.dishord {
    background-color: white;
}

#dishordmodal .modal-dialog {
    width: 100%;
    margin: 1.75rem auto;
}

@media screen and (max-width: 540px){
    #dishordmodal .modal-dialog {
        margin-top: 50% !important;
    }
}

#dishordmodal .modal-content {
    padding: 15px;
}

.dishord_func {
    margin-top: 25px;
}

.dishord_img img {
    width: 100%;
    height: 100%;
}

.dish_outer_block {
    margin: 5%;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 540px) {
    .dishs {
        width: 100%;
    }

    #dishordmodal .modal-dialog {
        margin: 0;
    }
}

.order_tabmoney {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.select_table {
    display: flex;
    justify-content: space-between;
}

.money {
    margin-top: 15px;
    display: flex;
}


/* Красивый выпадающий список */
.container {
    margin: 80px auto;
    width: 400px;
    text-align: center;
}

.container > .dropdowns {
    margin: 0 20px;
    vertical-align: top;
}

.dropdowns {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 28px;
    width: 150px;
    background: #f2f2f2;
    border: 1px solid;
    border-color: white #f7f7f7 whitesmoke;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdowns:before, .dropdowns:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 9px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #888888 transparent;
    pointer-events: none;
}

.dropdowns:before {
    border-bottom-style: solid;
    border-top: none;
}

.dropdowns:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
}

.dropdowns-select {
    position: relative;
    width: 130%;
    margin: 0;
    padding: 6px 8px 6px 10px;
    height: 28px;
    line-height: 14px;
    font-size: 12px;
    color: #62717a;
    text-shadow: 0 1px white;
    background: #f2f2f2; /* Fallback for IE 8 */
    background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

.dropdowns-select:focus {
    z-index: 3;
    width: 100%;
    color: #394349;
    outline: 2px solid #49aff2;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
}

.dropdowns-select > option {
    margin: 3px;
    padding: 6px 8px;
    text-shadow: none;
    background: #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdowns {
    z-index: 1;
}

.lt-ie9 .dropdowns-select {
    z-index: -1;
}

.lt-ie9 .dropdowns-select:focus {
    z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
    .dropdowns-select {
        padding-left: 6px;
    }
}

.dropdowns-dark {
    background: #444;
    border-color: #111111 #0a0a0a black;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.dropdowns-select:focus {
    outline: 0;
}

/* Конец выпадающего списка */

.select_user {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0 !important;
}

.selected_user {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.selected_user input {
    width: 100%;
}

.selected_user > div {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.order_tabmoney > div {
    margin-bottom: 15px;
}

.order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.order_header {
    /*width: 30%;*/
}

.order_body {
    /*width: 70%;*/
}

.admin {
    padding: 15px;
}

.admin_tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.adminpanel {
    display: flex;
    flex-direction: column;
}

.admin_tabs_content {
    background-color: #007bff;
    border-radius: 20px;
    padding: 15px;
}

.admin_tabs > div {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.admin_tabs > div.active {
    background-color: #007bff;
    border-top: black;
    border-radius: 20px 20px 0 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.all_users {
    display: flex;
    flex-direction: column;
}

.user {
    display: flex;
    justify-content: space-between;
}

.user > div {
    display: flex;
}

.user_phone {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.newdishtype form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dishtypename {
    display: flex;
    flex-direction: column;
}

.curingr {
    display: flex;
}

.curingr input {
    width: 20%;
}

.curingr .dropdowns {
    width: 100%;
}

.dropdown-item {
    background-color: #494949 !important;
}

.dropdown-item:hover {
    background-color: #6c6c6cf0 !important;
}

.dropdown-toggle {
    display: flex !important;
    flex-direction: row !important;;
    align-items: center !important;;
    border: 0 !important;;
    background-color: unset !important;;
}

/* АККОРДИОН */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:focus {
    outline: none;
}

.active {
    background-color: #ccc;
    outline: none;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* КОНЕЦ АККОРДИОНА*/

.img_desc {
    position: relative;
}

/*.dishord_desc {*/
/*width: 100%;*/
/*display: flex;*/
/*justify-content: space-around;*/
/*position: absolute;*/
/*bottom: 0;*/
/*height: 25%;*/
/*background-color: rgba(248, 247, 242, 0.5);*/
/*border-radius: 20px;*/
/*align-items: center;*/
/*}*/

/*.dishord_img {*/
/*width: 100%;*/
/*height: 90%;*/
/*display: flex;*/
/*justify-content: center;*/
/*}*/

.close_dishord {
    top: 5%;
    z-index: 3012;
    color: #252525;
    position: sticky;
text-align: right;
}