<div class="modal fade" id="authmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="form-group">
                <label>Номер телефона</label>
                <input type="text" class="form-control" name="phoneauth" required>
            </div>
            <div class="form-group">
                <label>Пароль</label>
                <input type="password" class="form-control" name="passwordauth" required>
            </div>
            <button type="submit" class="btn btn-primary" id="authorization">Авторизироваться</button>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('#authorization').on('click', function () {
            let phone = $('input[name="phoneauth"]').val();
            let password = $('input[name="passwordauth"]').val();
            console.log({
                phone, password
            });
            $.ajax({
                method: "POST",
                url: "/authentication",
                type: "POST",
                data: {
                    phone: phone,
                    password: password
                },
                success: function (data) {
                    location.reload()
                },
                error: function (request) {
                    note({
                        content: jQuery.parseJSON(request.responseText).message.message,
                        type: "error",
                        time: 5
                    })
                }
            })
        })
    });
</script>