<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock %}</title>
    {% include 'staticfiles/staticcss.html' %}
    <script>
        var websocket = new WebSocket("ws://" + window.location.host + "/websocket");
    </script>

</head>
<body style="background-color: #fdfcf7">
<header>
    <div class="myheader">
        <div class="row w-100">
            {#            <div class="">#}
            {#                <a href="/">FeedFood</a>#}
            {#            </div>#}
            {#            <div class="">Buttons</div>#}
            {% if not user_info %}
                <div class="">
                    <span data-toggle="modal" data-target="#regmodal">Регистрация</span>
                </div>
                <div class="">
                    <span data-toggle="modal" data-target="#authmodal">Авторизация</span>
                </div>
            {% else %}
                <div class="">
                    <span><span class="profile" data-id="{{ user_info.id }}" data-toggle="modal"
                                data-target="#userprofile">Профиль</span></span>
                </div>
                {#            <div class="">#}
                {#                <span data-toggle="modal" data-target="#regmodal">Корзина</span>#}
                {#            </div>#}
                <div class="">
                    <span><a href="/remc">Выход</a></span>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="myheaderfix">
        {#        <div class="row w-100" style="justify-content: space-evenly;">#}
        {#            <div class=""><a href="/">FeedFood</a></div>#}
        {#            <div class="col-4">Buttons</div>#}
        {#            {% if user_info['al_id'] == 2 %}#}
        {#                <div class="" id="testbutton">#}
        {#                    <a href="/clientorders" class="client_orders">Заказы пользователей</a>#}
        {#                </div>#}
        {#            {% endif %}#}
        {#        </div>#}
        <div class="headf">
            <div class="main_link">
                <a href="/">Главная</a>
            </div>
            <div class="action_link">
                {% if user_info['al_id'] == 2 %}
                    <a href="/clientorders" class="client_orders">Заказы пользователей</a>
                {% elif user_info['al_id'] == 3 %}
                    <a href="/clientorders" class="client_orders">Админ-панель</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% block content %}
{% endblock %}
{% if user_info %}
    {% include 'inputs/basket.html' %}
{% endif %}
{% include 'inputs/userinfo.html' %}
{% include 'staticfiles/staticjs.html' %}
{% include 'modals/regmodal.html' %}
{% include 'modals/authmodal.html' %}
{% include 'modals/dishordmodal.html' %}
{#{% include 'modals/basketmodal.html' %}#}
</html>