{% extends 'base.html' %}
{% block title %}
Главная
{% endblock %}
{% block content %}

<div class="slider">
    <div class="slider__wrapper">
        <div class="slider__item">
            <div style="height: 250px; background: orange;">1</div>
        </div>
        <div class="slider__item">
            <div style="height: 250px; background: green;">2</div>
        </div>
        <div class="slider__item">
            <div style="height: 250px; background: violet;">3</div>
        </div>
        <div class="slider__item">
            <div style="height: 250px; background: coral;">4</div>
        </div>
    </div>
    <a class="slider__control slider__control_left" href="#" role="button"></a>
    <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
</div>

<div class="container-fluid">
    <div class="grids">
        {% for dish_type in dish_types %}
            <!--{{ dish_type }}-->
            <div class="dishtypes">
                <a class="dishtypes_block" href="dishtypes/{{dish_type['dish_type_translit']}}">
                    <img src="../static/img/burgers.png" height="450">
                    <div class="dishtypes_name">
                        <span>{{ dish_type['dish_type_name'] }}</span>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
