{% extends 'base.html' %}
{% block title %}
Главная
{% endblock %}
{% block content %}

{% include 'inputs/slider.html' %}
<div class="container-fluid">
    <div class="grids">
        {% for dish_type in dish_types %}
            <!--{{ dish_type }}-->
            <div class="dishtypes">
                <a class="dishtypes_block" href="dishtypes/{{dish_type['dish_type_translit']}}">
                    <img src="{{ dish_type['dish_type_img'] }}" height="450">
                    <div class="dishtypes_name">
                        <span>{{ dish_type['dish_type_name'] }}</span>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
