{% extends 'base.html' %}
{% block title %}
    Главная
{% endblock %}
{% block content %}

    <div class="all_types">
        {% for dish_type in dish_types %}
            <div class="outer_type_block">
                <a href="dishtypes/{{ dish_type.dish_type_translit }}">
                    <div class="type_block">
                        <div class="type_img">
                            <img src="{{ dish_type['dish_type_img'] }}">
                        </div>
                        <div class="type_desc">
                            <span class="type_name">{{ dish_type.dish_type_name }}</span>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
