{% extends 'base.html' %}
{% block title %}
    Главная
{% endblock %}
{% block content %}
    <div class="slider d-none">
        <div class="slider__wrapper">
            <div class="slider__item">
                <div style="height: 250px;  background-image: url(../static/img/burgers.png); background-repeat: no-repeat;  background-size: contain; background-position: center; ">
                    1
                </div>
            </div>
            <div class="slider__item">
                <div style="height: 250px; background: green;">2</div>
            </div>
            <div class="slider__item">
                <div style="height: 250px; background: violet;">3</div>
            </div>
            <div class="slider__item">
                <div style="height: 250px; background: coral;">4</div>
            </div>
        </div>
        <a class="slider__control slider__control_left" href="#" role="button"></a>
        <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
    </div>
    <div class="cont d-none" style="width: 100%; display: flex; font-size: 24px;">
        <div class="items">
            <div class="smtt" style="">
                <div class="sss" style=""><span>Замена масел и технической жидкости</span></div>
                <div class="plate">
                    <img src="../static/img/burgers.png" width="300" height="200">
                </div>
            </div>
        </div>
        <div class="items">
            <div class="smtt" style="">
                <div class="sss" style=""><span>Шиномонтаж</span></div>
                <div class="plate">
                    <img src="../static/img/burgers.png" width="300" height="200">
                </div>
            </div>
        </div>
        <div class="items">
            <div class="smtt" style="">
                <div class="sss" style=""><span>Установка дополнительного оборудования</span></div>
                <div class="plate">
                    <img src="../static/img/burgers.png" width="300" height="200">
                </div>
            </div>
        </div>
    </div>
    {#{% include 'inputs/registration.html' %}#}

    <label style="margin-bottom: 30px;">ПОШАГОВЫЕ ИНСТРУКЦИИ:</label>
    <div class="steps_block">
        <span class="material-icons addsmth">add_circle_outline</span>
        <div class="alltabs">
            <div class="tabs" id="id">
                <div class="d-flex item-block">
            <textarea>
                123
            </textarea>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <button>Submit</button>
                </div>
                <div class="closee" style="">
                    <span class="material-icons closed">close</span>
                </div>
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function () {
            let count = 0;
            let maxcount = 10;
            $('.addsmth').on('click', function () {
                if (count < maxcount) {
                    $('#id').clone()
                        .appendTo('.alltabs')
                        .attr('id', 'id' + count);
                    count++;
                } else {
                    console.log('ты не можешь добавить больше 10 блоков')
                }
                console.log(count);
            });
            $('.closed').on('click', function () {
                console.log($(this).parent().parent())
            })
        })
    </script>

{% endblock %}