{% extends 'base.html' %}
{% block title %}
    Заказы пользователей
{% endblock %}
{% block content %}
    <div class="orderers">
        <div class="client_orders_first">
            <span>На готовке</span>
        </div>
        <div class="all_orders">
            {% for order in user_orders.first_orders %}
                {% include 'inputs/garcon/userorders_by_type.html' %}
            {% endfor %}
        </div>
        <div class="client_orders_second">
            <span>Принятые в обработку</span>
        </div>
        <div class="all_orders">
            {% for order in user_orders.orders %}
                {% include 'inputs/garcon/userorders_by_type.html' %}
            {% endfor %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('[class^="client_orders_"]').on('click', function () {
                if ($(this).next().is(':visible')) {
                    $(this).next().hide()
                } else (
                    $(this).next().show()
                )
            });

            $('.done').on('click', function () {
                let executor_id = $(this).data('executor_id');
                let order_id = $(this).data('order_id');
                let customer_id = $(this).data('customer_id');
                let order_status = $(this).data('order_status');
                send_aj(order_id, executor_id, 1, order_status);
                send_ping('Ваш заказ успешно одобрен', customer_id, executor_id);
            });
            $('.closed').on('click', function () {
                let executor_id = $(this).data('executor_id');
                let order_id = $(this).data('order_id');
                let customer_id = $(this).data('customer_id');
                let order_status = $(this).data('order_status');
                send_aj(order_id, executor_id, 0, order_status);
                send_ping('Ваш заказ был отклонен, обратитесь к официанту', customer_id, executor_id);
            });

            function send_aj(order_id, executor_id, status, order_status) {
                $.ajax({
                    method: "POST",
                    url: "/clientorders",
                    data: {
                        'order_id': order_id,
                        'executor_id': executor_id,
                        'status': status,
                        'order_status': order_status
                    },
                    success: function (data) {
                        note({
                            content: data.message.message,
                            type: "info",
                            time: 5
                        });
                        $('#' + order_id).remove();
                    },
                    error: function (data) {
                        note({
                            content: jQuery.parseJSON(data.responseText).message.message,
                            type: "error",
                            time: 5
                        });
                        $('#' + order_id).remove();
                    }
                })
            }

            function send_ping(message, user_id, sender_id) {
                websocket.send(JSON.stringify({'message': message, 'user_id': user_id, 'sender_id': sender_id}));
            }
        })
    </script>

{% endblock %}